<!DOCTYPE html>
<html data-th-replace="~{base :: parent(~{::#maindiv},~{::title},~{::script})}">

<head>
  <title>Login</title>
</head>

<body>
<div id="maindiv"  class="flex items-center justify-center mt-5">

  <div>
    <h1 class="text-3xl text-center font-bold mb-6">Your Student List</h1>

    <table class="min-w-full bg-white">
      <thead>
      <tr>
        <th class="border px-4 py-2">Student Name</th>
        <th class="border px-4 py-2">Phone</th>
        <th class="border px-4 py-2">Email</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="student : ${students}">
        <tr>
          <td class="border px-4 py-2" th:text="${student.name}"></td>
            <td class="border px-4 py-2" th:text="${student.phone}"></td>
          <td class="border px-4 py-2" th:text="${student.email}"></td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>


  <script></script>
</div>
</body>
</html>