<!DOCTYPE html>
<html data-th-replace="~{base :: parent(~{::#maindiv},~{::title},~{::script})}">

<head>
    <title>Faculty Form</title>
</head>
<body>
<div id="maindiv" class="flex items-center justify-center mt-5">

    <div class="w-1/2">
        <h1 class="text-2xl font-bold mb-6" th:text="${faculty.id} == null ? 'Add Student' : 'Edit Student'"></h1>

        <form th:action="@{/faculty/update}" method="post" data-th-object="${faculty}">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="userId" th:value="*{user.id}" />
            <!-- Name -->
            <div class="mb-4">
                <label for="name" class="block text-gray-700">Name:</label>
                <input type="text" id="name" name="name" th:field="*{user.name}" class="w-full  pl-10 pr-3 py-2 rounded-lg border border-gray-200 outline-none placeholder-gray-500
                                        focus:outline-none focus:border-[#23b9c8] focus:bg-white" />
            </div>

            <!-- Attendance -->
            <div class="mb-4">
                <label for="attendance" class="block text-gray-700">Office Hours:</label>
                <input type="text" id="attendance" name="attendance" th:field="*{officeHours}" class="w-full pl-10 pr-3 py-2 rounded-lg border border-gray-200 outline-none placeholder-gray-500
                                        focus:outline-none focus:border-[#23b9c8] focus:bg-white" />
            </div>

            <!-- Department Dropdown -->
            <div class="mb-4">
                <label for="department" class="block text-gray-700">Department:</label>
                <select id="department" name="department" th:field="*{department.id}" class="w-full  pl-10 pr-3 py-2 rounded-lg border
             border-gray-200 outline-none placeholder-gray-500
                                        focus:outline-none focus:border-[#23b9c8] focus:bg-white">
                    <option th:each="department : ${departments}" th:value="${department.id}"
                            th:text="${department.name}"></option>
                </select>
            </div>


            <!-- Courses Dropdown -->
            <div class="mb-4">
                <label for="courses" class="block text-gray-700">Courses:</label>
                <select id="courses" name="courseIds" class="w-full  pl-10 pr-3 py-2 rounded-lg border
             border-gray-200 outline-none placeholder-gray-500
                                        focus:outline-none focus:border-[#23b9c8] focus:bg-white">
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.title}"></option>
                </select>
            </div>

            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
            </div>
        </form>
    </div>

</div>
<script></script>
</body>

</html>