<!DOCTYPE html>
<html data-th-replace="~{base :: parent(~{::#maindiv},~{::title},~{::script})}">

<head>
    <title>Faculty</title>
</head>

<body>
<div id="maindiv" class="flex items-center justify-center mt-5">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
        <h1 class="text-2xl font-bold text-center mb-6">FACULTY Dashboard</h1>

        <div class="text-center mb-4">
            <!--        <img src="https://via.placeholder.com/150" alt="User Avatar" class="rounded-full w-24 h-24 border-2 border-gray-300">-->
            <div class="ml-4 mt-5">
                <h3 class="text-2xl font-medium text-gray-800" th:text="${user.name}">John Doe</h3>
                <!--            <p class="text-gray-600" th:text="${user.email}">john.doe@example.com</p>-->
            </div>
        </div>

        <div class="mt-4">
            <h4 class="text-md font-semibold text-gray-700">Details:</h4>
            <ul class="list-disc pl-5">
                <li class="text-gray-600" th:text="'Email:-  ' + ${user.email}"></li>
                <li class="text-gray-600" th:text="'User Name:-  ' + ${user.username}"></li>
                <li class="text-gray-600" th:text="'Mobile No:-  ' + ${user.phone}"></li>
            </ul>
        </div>
        <div class="mt-4 text-center">
            <a th:href="@{/faculty/class-list}"
               class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded">
                See Students List
            </a>
        </div>
        <div class="mt-4 text-center">
            <a th:href="@{/faculty/edit/{id}(id=${user.id})}"
               class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded">Edit Details</a>
        </div>
    </div>
</div>
<script></script>
</body>

</html>