<!DOCTYPE html>
<html data-th-replace="~{base :: parent(~{::#maindiv},~{::title},~{::script})}">

<head>
    <title>Admin</title>
</head>

<body>
<div id="maindiv" class="flex items-center justify-center mt-5">
<div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
    <h1 class="text-2xl font-bold text-center mb-6">Admin Dashboard</h1>

    <div class="text-center mb-4">
<!--        <img src="https://via.placeholder.com/150" alt="User Avatar" class="rounded-full w-24 h-24 border-2 border-gray-300">-->
        <div class="ml-4 mt-5">
            <h3 class="text-2xl font-medium text-gray-800" th:text="'Name:-  ' +${user.name}">John Doe</h3>
<!--            <p class="text-gray-600" th:text="${user.email}">john.doe@example.com</p>-->
        </div>
    </div>

    <div class="mt-4">
        <h4 class="text-md font-semibold text-gray-700">Details:</h4>
        <ul class="list-disc pl-5">
            <li class="text-gray-600" th:text="'Email:-  ' + ${user.email}"></li>
            <li class="text-gray-600" th:text="'User Name:-  ' + ${user.username}"></li>
            <li class="text-gray-600" th:text="'Mobile No:-  ' + ${user.phone}"></li>
        </ul>
    </div>

    <div class="bg-white  p-4 max-w-lg w-full">

        <div class="flex flex-col space-y-4">
            <!-- Button for Show All Students -->
            <a href="/admin/students" class="w-full">
                <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Show All Students
                </button>
            </a>

            <!-- Button for Show All Faculty -->
            <a href="/admin/faculty" class="w-full">
                <button class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Show All Faculty
                </button>
            </a>
        </div>

        <div class="flex flex-row gap-2 items-center justify-center mt-5">
            <!-- Button for Show All Students -->
            <a href="/departments" class="w-full">
                <button class="w-full bg-[#d1fafa] border border-[#23b9c8] rounded hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">
                    All Departments
                </button>
            </a>

            <!-- Button for Show All Faculty -->
            <a href="/courses" class="w-full">
                <button class="w-full bg-[#d1fafa] border border-[#23b9c8] rounded hover:bg-green-200 text-black font-bold py-2 px-2 rounded">
                    All Courses
                </button>
            </a>
        </div>
    </div>

</div>
</div>
<script></script>
</body>

</html>