<!DOCTYPE html>
<html data-th-replace="~{base :: parent(~{::#maindiv},~{::title},~{::script})}">

<head>
    <title>Student List</title>
</head>
<body>
<div id="maindiv" class="flex items-center justify-center mt-5">

    <div>
        <h1 class="text-3xl font-bold mb-6">Student List</h1>

        <table class="min-w-full bg-white">
            <thead>
            <tr>
                <th class="py-2 px-4 bg-gray-200">Name</th>
                <th class="py-2 px-4 bg-gray-200">Email</th>
                <th class="py-2 px-4 bg-gray-200">Phone No.</th>
<!--                <th class="py-2 px-4 bg-gray-200">Department</th>-->
                <th class="py-2 px-4 bg-gray-200">Grades</th>
                <th class="py-2 px-4 bg-gray-200">Attendance</th>
                <th class="py-2 px-4 bg-gray-200">Year of Study</th>
                <th class="py-2 px-4 bg-gray-200">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td class="py-2 px-4" th:text="${student.user.name}"></td>
                <td class="py-2 px-4" th:text="${student.user.email}"></td>
                <td class="py-2 px-4" th:text="${student.user.phone}"></td>
<!--                <td class="py-2 px-4" th:text="${student.department.name}"></td>-->
                <td class="py-2 px-4" th:text="${student.grades}"></td>
                <td class="py-2 px-4" th:text="${student.attendance}"></td>
                <td class="py-2 px-4" th:text="${student.year}"></td>
                <td class="py-2 px-4">
                    <a th:href="@{/admin/students/edit/{id}(id=${student.id})}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded">Edit</a>
                    <a th:href="@{/admin/students/delete/{id}(id=${student.id})}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
<script></script>
</body>

</html>